---
import BaseHead from '../../components/BaseHead.astro';
import Footer   from '../../components/Footer.astro';
import Header   from '../../components/Header.astro';
import Home3o   from '../../components/Home3o.astro';

import { Image } from 'astro:assets';

import { getCollection, render } from 'astro:content';
const post = Astro.props;
const { Content } = await render(post);

const json_ld = [{
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
        { "@type": "ListItem", "position": 1, "name": "Home",      "item": Astro.site },
        { "@type": "ListItem", "position": 2, "name": "All Posts", "item": Astro.site + 'blog/' },
        { "@type": "ListItem", "position": 3, "name": post.data.title }
    ]
},{
    "@context": "https://schema.org",
    "@type": "Article",
    "headline": post.data.title,
    "image": [ post.data.heroImage.src ],
    "datePublished": post.data.pubDate.toISOString(),
    "author": [{
        "@type": "Person",
        "name": "Craft Trade",
        "url": Astro.site
    }]
}];

export async function getStaticPaths() {
    const posts = await getCollection('blog');
    return posts.map((post) => ({
        params: { slug: post.id },
        props: post,
    }));
}
---

<!doctype html>
<html lang="ru">
	<head>
		<BaseHead title={post.data.title} description={post.data.description} />
        <script type="application/ld+json" set:html={JSON.stringify(json_ld)} />
        <meta property="og:image" content={post.data.heroImage.src} />
    </head>
	<body class="bg-gray-900 text-gray-100">
		<Header />
        <main>
            <div class="mx-auto max-w-3xl xl:max-w-5xl bg-gray-300">
                {post.data.heroImage && (
                    <Image class='bg-gray-100 object-cover lg:h-80' loading='lazy' width={1024} height={512} src={post.data.heroImage} alt={post.data.title} />
                )}
                <div class="prose max-w-none marker:text-gray-900 p-5">
                    <Content />
                </div>
                {post.data.author && (
                    <div class="p-5 bg-gray-400 flex gap-5 items-center text-center lg:text-left flex-col lg:flex-row">
                        <Image class='rounded-full' loading='lazy' width={150} height={150} src={post.data.author.img} alt={post.data.author.name} />
                        <div>
                            <div class='text-gray-900'>{post.data.author.name}</div>
                            <div class='text-gray-600 max-w-lg'>{post.data.author.desc}</div>
                            <div class='text-gray-600'>Соцсети: {post.data.author.links.map(a => (
                                <span class='p-1'>[<a class='text-green-900' href={a}>link</a>]</span>
                            ))}</div>
                        </div>
                    </div>
                )}
            </div>
        </main>
        <Home3o />
		<Footer />
	</body>
</html>
