---
const { posts, level, title } = Astro.props;
---

<div class="container mx-auto p-10 text-center">
    <div class="text-2xl font-bold pb-10">
        { level === 1 ? <h1>{title}</h1> : <h2>{title}</h2> }
    </div>
    <ul class="grid gap-10 lg:grid-cols-2">
        { posts.map((post) => (
        <li class="hover:scale-105 transition-all duration-300">
            <a href={`/blog/${post.id}/`}>
                <div style="background-image: url(/imgs/list/bg-posts.webp)" class="p-5 rounded-4xl aspect-3/1 bg-center bg-cover font-bold text-3xl flex items-center">
                    { level === 1 ? <h2>{post.data.title}</h2> : <h3>{post.data.title}</h3> }
                </div>
            </a>
        </li>
        )) }
    </ul>
</div>
